# Data cleaning

In [517]:
import pandas as pd

In [518]:
df = pd.read_csv('kc_house_data.csv')

In [519]:
# df = df.drop([
#     'id',
#     'date',
#     'sqft_above',
#     'yr_renovated',
#     'lat',
#     'long',
#     'yr_built',
#     'sqft_living15',
#     'sqft_lot15',
#     ],axis=1)

Transformation des colonnes

In [520]:
#zip code en objet pour la rendre categorielle
df['zipcode'] = df['zipcode'].apply(lambda x : str(x))

In [521]:
#met la date de vente au bon format
df['date'] = df['date'].apply(lambda x: (x[6:8] + x[4:6] + x[0:4]))
#crée une colonne avec l'année de la vente
df['yr_sold'] = df['date'].apply(lambda x : x[4:9])
df[['date','yr_sold']].sample(1)

           date yr_sold
20622  18072014    2014

In [522]:
#choisis l'année de rénovation s'il y en a une, sinon l'année de construction
df['yr_best'] = df[['yr_built', 'yr_renovated']].max(axis=1)
df[df['yr_renovated']>0][['yr_built', 'yr_renovated', 'yr_best']].sample(1)

       yr_built  yr_renovated  yr_best
14556      1965          2003     2003

In [523]:
#calcul de la différence entre l'année de la vente et l'année de rénovation (ou à defaut construction)
df['yr_sold'] = df['yr_sold'].apply(lambda x : int(x))
df['yr_best'] = df['yr_best'].apply(lambda x : int(x))
df['yr_gap'] = df['yr_best'] - df['yr_sold']
df[['yr_sold', 'yr_best', 'yr_gap']].sample(1)

       yr_sold  yr_best  yr_gap
10045     2015     2008      -7

In [524]:
# donne une indication entre la grandeur du bien et ses voisins
df['comparison'] = (df['sqft_living']-df['sqft_living15']) + (df['sqft_lot']-df['sqft_lot15'])
df[['sqft_living','sqft_lot','sqft_living15', 'sqft_lot15', 'comparison']].sample(20)

       sqft_living  sqft_lot  sqft_living15  sqft_lot15  comparison
7010          1460      9879           1610       10050        -321
10890         1440      5434           1560        3770        1544
5015          2170     15000           2430       14256         484
14289         1670     12056           1860       12056        -190
10752          910      2693           1360        2693        -450
21390         2540      5050           2280        5050         260
10698         2300      8000           2070       10200       -1970
11711         2250      5301           2240        7200       -1889
9594          1620      5200           1500        5200         120
11793         1250      7654           1310        7350         244
16912         1570      2048           1570        2006          42
12888          760      4000           1130        4000        -370
3163          1360     73616           2040       50965       21971
18559         1350      2560           1800        2560        -450
20445         1571      2017           1520        1497         571
21356         2280      5000           2910        5000        -630
3448          1520      7983           1520        7783         200
6030          2683     40386           2683       34800        5586
391           1980      3128           1950        2856         302
12103         2340      5957           2340        6604        -647

Retrait des valeurs aberrantes

In [525]:
df = df[df['bathrooms'] > 0]

Enregistrement du nouveau fichier

In [526]:
df.to_csv('house_data_cleaned.csv')